.Heading {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 4 * $vu;
    line-height: 1;
    letter-spacing: 10px;
    margin-bottom: $vu;
}
