{
    "extends": [
        "airbnb-typescript",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "yoda": ["off"],
        "max-len": ["off"],
        "no-bitwise": ["off"],
        "no-iterator": ["off"],
        "no-continue": ["off"],
        "no-plusplus": ["off"],
        "arrow-body-style": ["off"],
        "space-infix-ops": ["error"],
        "no-param-reassign": ["off"],
        "no-restricted-syntax": ["off"],
        "object-curly-newline": ["off"],
        "prefer-destructuring": ["off"],
        "class-methods-use-this": ["off"],
        "comma-dangle": ["error", "never"],
        "arrow-parens": ["error", "as-needed"],
        "linebreak-style": ["error", "windows"],
        "lines-between-class-members": ["off"],

        "react/sort-comp": ["off"],
        "react/prop-types": ["off"],
        "react/jsx-indent": ["error", 4, { "checkAttributes": true, "indentLogicalExpressions": true }],
        "react/jsx-one-expression-per-line": ["off"],

        "import/newline-after-import": ["off"],
        "import/prefer-default-export": ["off"],

        "@typescript-eslint/indent": ["error", 4, { "SwitchCase": 1 }]
    }
}
