// alignment
.u-alignLeft {
    text-align: left;
}

.u-alignRight {
    text-align: right;
}

.u-alignCenter {
    text-align: center;
}

.u-alignLeft {
    vertical-align: top;
}

.u-alignBottom {
    vertical-align: bottom;
}

.u-alignMiddle {
    vertical-align: middle;
}
